In [1]:
import pandas as pd
import numpy as np

In [2]:
y =  pd.read_csv("lonbg.csv")

In [3]:
education = pd.read_csv("Population_by_educational_attainment_level_sex_and_age_15to64.csv")
education.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'freq', 'Time frequency',
       'unit', 'Unit of measure', 'sex', 'Sex', 'isced11',
       'International Standard Classification of Education (ISCED 2011)',
       'age', 'Age class', 'geo', 'Geopolitical entity (reporting)',
       'TIME_PERIOD', 'Time', 'OBS_VALUE', 'Observation value', 'OBS_FLAG',
       'Observation status (Flag) V2 structure', 'CONF_STATUS',
       'Confidentiality status (flag)'],
      dtype='object')

In [4]:
education["International Standard Classification of Education (ISCED 2011)"].unique()

array(['Less than primary, primary and lower secondary education (levels 0-2)',
       'Upper secondary, post-secondary non-tertiary and tertiary education (levels 3-8)',
       'Upper secondary and post-secondary non-tertiary education (levels 3 and 4)',
       'Upper secondary and post-secondary non-tertiary education (levels 3 and 4) - general',
       'Upper secondary and post-secondary non-tertiary education (levels 3 and 4) - vocational'],
      dtype=object)

In [4]:
education["Country"] = education["Geopolitical entity (reporting)"]
education = education.drop(["Geopolitical entity (reporting)"], axis=1)
col = ["Country", "TIME_PERIOD", "International Standard Classification of Education (ISCED 2011)", "OBS_VALUE"]

In [8]:
x_education = education[col][education["International Standard Classification of Education (ISCED 2011)"] == "Upper secondary, post-secondary non-tertiary and tertiary education (levels 3-8)"][education["TIME_PERIOD"] == 2023].reset_index()

C:\Users\Ananya Gyanmote\AppData\Local\Temp\ipykernel_90492\4127424079.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  x_education = education[col][education["International Standard Classification of Education (ISCED 2011)"] == "Upper secondary, post-secondary non-tertiary and tertiary education (levels 3-8)"][education["TIME_PERIOD"] == 2023].reset_index()

In [40]:
x_education[x_education['country'].isin(y["country"])]["country"]

8           Austria
21          Belgium
31         Bulgaria
41      Switzerland
51           Cyprus
           ...
1332       Portugal
1336        Romania
1344         Sweden
1348       Slovenia
1352       Slovakia
Name: country, Length: 150, dtype: object

In [45]:
len(x_education["country"].unique())

35

In [46]:
len(y["country"].unique())

30

In [47]:
x_education[~x_education["country"].isin(y["country"])].dropna()

      TIME_PERIOD  OBS_VALUE                                    country
12           2023       22.9                     Bosnia and Herzegovina
91           2023       26.9       Euro area – 20 countries (from 2023)
131          2023       24.7  European Union - 27 countries (from 2020)
313          2023       19.8                                     Serbia
353          2023       53.1                                    Türkiye
372          2023       77.1                     Bosnia and Herzegovina
451          2023       73.1       Euro area – 20 countries (from 2023)
491          2023       75.3  European Union - 27 countries (from 2020)
673          2023       80.2                                     Serbia
713          2023       46.9                                    Türkiye
732          2023       62.4                     Bosnia and Herzegovina
811          2023       41.5       Euro area – 20 countries (from 2023)
851          2023       44.4  European Union - 27 countries (from 2020)
1033         2023       56.9                                     Serbia
1073         2023       25.1                                    Türkiye
1086         2023        5.7                     Bosnia and Herzegovina
1117         2023       12.3       Euro area – 20 countries (from 2023)
1133         2023       12.3  European Union - 27 countries (from 2020)
1201         2023        5.7                                     Serbia
1217         2023       15.0                                    Türkiye
1225         2023       56.7                     Bosnia and Herzegovina
1256         2023       29.2       Euro area – 20 countries (from 2023)
1272         2023       32.0  European Union - 27 countries (from 2020)
1340         2023       51.2                                     Serbia
1356         2023       10.2                                    Türkiye