In [2]:
import pandas as pd
import numpy as np

In [3]:
y =  pd.read_csv("lonbg.csv")

In [5]:
y

        country  unadjusted_gender_pay_gap
0        Latvia                       19.0
1       Austria                       18.3
2       Czechia                       18.0
3       Hungary                       17.8
4       Germany                       17.6
5       Estonia                       16.9
6       Finland                       16.8
7      Slovakia                       15.7
8       Denmark                       14.0
9        Greece                       13.6
10     Bulgaria                       13.5
11  Netherlands                       12.5
12       France                       12.2
13       Cyprus                       12.2
14    Lithuania                       11.5
15       Sweden                       11.2
16        Spain                        9.2
17     Portugal                        8.6
18      Ireland                        8.6
19       Poland                        7.8
20      Croatia                        7.4
21     Slovenia                        5.4
22        Malta                        5.1
23      Romania                        3.8
24        Italy                        2.2
25      Belgium                        0.7
26   Luxembourg                       -0.9
27  Switzerland                       17.2
28       Norway                       12.8
29      Iceland                        9.8

## Education

In [6]:
education = pd.read_csv("tertiary_education.csv")

In [10]:
education["Tertiary_Education(%)"] = education["2023"]
education = education.drop(["2023"], axis=1)

In [13]:
education[~education["country"].isin(y["country"])].dropna()

                   country  Tertiary_Education(%)
0                       EU                   84.1
31                  Serbia                   93.7
32  Bosnia and Herzegovina                   91.9
33                  Turkey                   76.5

In [18]:
df = pd.merge(y, education, how="left", left_on="country", right_on="country")

## GDP per capita PPS

In [19]:
gdp = pd.read_csv("GDP per capita in PPS_tec00114.csv")

In [ ]:
col=["Geopolitical entity (reporting)", "TIME_PERIOD", "OBS_VALUE"]
gdp = gdp[col][gdp["TIME_PERIOD"] == 2023]
gdp["GDP_perCapitaPPS"] = gdp["OBS_VALUE"]
gdp = gdp.drop(["OBS_VALUE", "TIME_PERIOD"], axis=1)

In [42]:
df = pd.merge(df, gdp, how="left", left_on="country", right_on="Geopolitical entity (reporting)").drop(columns="Geopolitical entity (reporting)", axis=1)

##

In [ ]:
text = "Northern Europe: Denmark, Isle of Man, Estonia, Faroe Islands (Denmark), Finland (incl. Ã…land Islands), United Kingdom, Guernsey, Ireland, Jersey, Latvia, Lithuania, Norway, Svalbard and Jan Mayen, Iceland, Sweden./n Eastern Europe: Bulgaria, Hungary, Moldova, Ukraine, Poland, Romania, Russia (West of the Urals), Slovakia, Czech Republic, Belarus./n Southern Europe: Albania, Andorra, Bosnia-Herzegovina, Gibraltar, Greece, Italy, Kosovo, Croatia, Macedonia, Malta, Montenegro, Portugal, San Marino, Serbia, Slovenia, Spain, Turkey (European part), Vatican City./n Western Europe: Belgium, Germany, France, Liechtenstein, Luxembourg, Monaco, Netherlands, Austria, Switzerland."